{% extends 'base.html' %}

{% block title %} All Submissions {% endblock %}

{% block content %}
<a href='http://localhost:8000/team/logout'>Logout</a><br/>

    <div id='teamdetail'>
        <table border="1"  width="100%">
            <tr>
                <td align="center">Team Name</td>
                <td align="center">Submission Time</td>
                <td align="center">Problem Title</td>
                <td align="center">Verdict</td>
                <td align="center">Time Taken</td>
                <td align="center">Memory Taken</td>
                <td align="center">Language</td>
            </tr>
        {% for submission in allSubmissions %}
            <tr>
                <td align="center">{{submission.teamName}}</td>
                <td align="center">{{submission.submissionTime}}</td>
                <td align="center">{{submission.problemTitle}}</td>
                <td align="center">{{submission.verdict}}</td>
                <td align="center">{{submission.timeTaken}}</td>
                <td align="center">{{submission.memoryTaken}}</td>
                <td align="center">{{submission.language}}</td>
            </tr>

        {% endfor %}
        </table>
    </div>
{% endblock %}
