<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale-1.0" />
		<title> {% block title %} {% endblock %} </title>
        <link href="http://localhost:8000/static/css/bootstrap.css" rel="stylesheet" />
        <link href="http://localhost:8000/static/css/style.css" rel="stylesheet" />
		<script type="text/javascript"
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://localhost:8000/static/js/bootstrap.min.js"></script>
        <div id="logo" align="center" style="padding-bottom: 60px;">
            <img src="http://localhost:8000/static/image/Logo.png" alt="CodeKnights">
        </div>
		<style>
		body {
            background-image: url("http://localhost:8000/static/image/yo.png");
            padding-top: 60px;
		}

		.btn-xlarge {
			padding: 5px 15px;
			font-size: 18px;
			line-height: normal;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			border-color: black;
			background-color: black;
			background-position: inherit;
			color: gray;
		}
		td
		{
		    padding:0 15px 0 15px;
		}

		</style>
	</head>

<body >
    {% block content %}
    {% endblock %}
</body>
</html>
