{% extends 'base.html' %}

{% block title %} Edit {% endblock %}
{% block content %}
    <div id='edit' align="center">
        {{error_message}}
        <table>
        <form action='' method='POST'>
            {% csrf_token %}
            {% for field in edit_form %}
            <tr><td>{{ field.label_tag }}</td><td>{{ field }} </td></tr>
            {% endfor %}
            <tr><td><input type='submit' value='Submit' class="btn btn-primary btn-lg btn-block btn-xlarge"/></td></tr>
        </form>
        </table>
    </div>
{% endblock %}
