{% extends 'base1.html' %}

{% block title %} Login Page {% endblock %}
{% block content %}
    <div id='login' align="center">
        <font size="5px" color="red">{{ error_message }}</font>
        <table>
            <form action='' method='POST'>
                {% csrf_token %}
                {% for field in login_form %}
                <tr><td>{{ field.label_tag }} </td><td> {{ field }}</td> </tr>
                {% endfor %}
                <tr><td> <input type='submit' value='Submit'/></td>
            </form>
            <td><a href='http://localhost:8000/team/signup'><input type='submit' value='Signup'/></a></td> </tr>
        </table>
    </div>
{% endblock %}
