<!DOCTYPE html>
<html lang="en">
<head>
    <title> Team </title>
</head>

<body>
    <div id='teamdetail'>
        Team Name: {{ team.teamName  }} <br/>
        Member 1 Name: {{ team.member1Name  }} <br/>
        Member 1 Year: {{ team.member1Year  }} <br/>
        Member 1 Branch: {{ team.member1Branch  }} <br/>
        Member 1 Email: {{ team.member1Email  }} <br/>
        Member 1 Phone: {{ team.member1Phone  }} <br/>
        Member 1 College: {{ team.member1College  }} <br/>
        Member 2 Name: {{ team.member2Name  }} <br/>
        Member 2 Year: {{ team.member2Year  }} <br/>
        Member 2 Branch: {{ team.member2Branch  }} <br/>
        Member 3 Name: {{ team.member3Name  }} <br/>
        Member 3 Year: {{ team.member3Year  }} <br/>
        Member 3 Branch: {{ team.member3Branch  }} <br/>

    </div>
</body>
</html>
