{% extends 'base.html' %}

{% block title %} Team Page {% endblock %}

{% block content %}
<a href='http://localhost:8000/team/edit'>Edit</a>
<a href='http://localhost:8000/team/logout'>Logout</a><br/>

    <div id='teamdetail'>
        Team Name: {{ team.teamName  }} <br/>
        Member 1 Name: {{ team.member1Name  }} <br/>
        Member 1 Branch: {{ team.member1Branch  }} <br/>
        Member 2 Name: {{ team.member2Name  }} <br/>
        Member 2 Branch: {{ team.member2Branch  }} <br/>
        Member 3 Name: {{ team.member3Name  }} <br/>
        Member 3 Branch: {{ team.member3Branch  }} <br/>

    </div>
{% endblock %}
