{% extends 'base.html' %}

{% block title %} RankList {% endblock %}

{% block content %}

    <div id='ranklist' style="font-size:120%">
        <table border="1"  width="100%">
            <tr align="center">
                <th align="center">Team Name</th>
                <th align="center">Total Time</th>
                <th align="center">Score</th>
                <th align="center">Problem 1</th>
                <th align="center">Problem 2</th>
                <th align="center">Problem 3</th>
            </tr>
        {% for rank in ranklist %}
            <tr>
                <td align="center">{{rank.teamName}}</td>
                <td align="center">{{rank.totalTime}}</td>
                <td align="center">{{rank.score}}</td>
                <td align="center">{{rank.problem1score}} - ({{rank.problem1WA}})</td>
                <td align="center">{{rank.problem2score}} - ({{rank.problem2WA}})</td>
                <td align="center">{{rank.problem3score}} - ({{rank.problem3WA}})</td>
            </tr>

        {% endfor %}
        </table>
    </div>
{% endblock %}
